{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-3">
            <div class="inscription-form">
                <h1 class="text-center">{% trans "Password Reset" %}</h1>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>Un email vient de vous être envoyé. Contactez-nous si vous n'avez pas reçu de mail dans les
                    prochaines minutes !</p>

            </div>

        </div>
    </div>
</div>
{% endblock %}