@font-face {
    font-family: 'Gotham-book';
    src: local('Gotham-Book'),
    url('../fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-light';
    src: local('Gotham-Medium'),
    url('../fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-bold';
    src: local('Gotham-Ultra'),
    url('../fonts/Gotham-Ultra.otf') format('opentype');
}