// Footer Style

// Footer container top

.footer-container {
    background-color: $vertc;
    min-height: 250px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    padding: 50px;

    h3 {
        color: white;
        margin-bottom: 30px;
        font-size: 20px;
    }

    p, a {
        color: white;
        margin: 0;
        font-size: 13px;
        margin-bottom: 7px;
    }
}

.footer-col  {
    color: white;
    h3 {
        color: $grisbg;
    }
}



// Footer container bottom

.footer-credit {
    text-align: center;
    background-color: $vertf;
    color: white;
    padding: 20px 10px;
    h4 {
        font-size: 13px;
        margin: 0;
    }
}

// BANDEREAU  QUALITE 

.bandereau-qualite-container {
    height: auto;
    background-color: #f5f5f5;
    margin-top: 20px;
    padding-bottom: 20px;
}

.bandereau-card {
    text-align: center;
    margin-top: 20px;
    height: auto;
    img {
        padding-bottom: 20px;
    } p {
        margin: 0;
    } small {
        color: $noir;
    } a {
        color: $noir;
    }
}

.justify-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

// MEDIA QUERIES ----------------------------------

@media screen and (max-width: 650px) {
    .footer-container {
        padding: 30px 20px;
        

        h3 {
            margin: 20px 0;
            color: $grisbg;
            padding-bottom: 5px;
    border-bottom: 1px solid #4a898b;
        }
    }

    .footer-credit h4 {
        font-size: 11px;
    }
}