// Checkout page style


// Checkout bg


// header

.header-checkout {
    font-family: 'Gotham-bold';
    color: $yel-color;
    letter-spacing: 6.4px;
    font-size: 70px;
    text-decoration: underline;
    padding-top:20px ;
}




.checkout-input {
    border: 1Px solid lightslategray;
    // border-radius: 8px;
    height: 50px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    
    
}

input#datepicker-dejeuner {
    width: 100%;
}
.checkout-input[type='text'] {
    font-size: 12px;
    color: black;

}

 .form-control[readonly] {
     background-color: transparent;
}
.checkout-input:focus {

    background-color: $gris;
    opacity: 0.5;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.card-body label {
    color: lightslategray;
    font-size: 15px;
    select {
        height: 50px;
    }

}

.card {
    
    border: none;
    box-shadow: 0 0 10px $gris;
    h3 {
    color: $vertf;
    font-size: 20px;
}
}

.bottom {
    padding: 20px;
}


// Form Error

ul.errorlist {
    padding: 0;
    margin: 0;
}

.errorlist li {
    list-style: none;
    font-size: 13px;
    color: red;
}


// Form help text

.help-text-form {

    font-size: 14px;
    font-style: italic;
    padding: 10px 10px 10px;
    margin-top: 10px;
    border-radius: 9px;
    background: $vertalert;

}


