// Footer Style

// Footer container top

.footer-container {
    background-color: $vertc;
    min-height: 250px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    padding: 50px 0;

    h3 {
        color: white;
        margin-bottom: 30px;
    }

    p, a {
        color: white;
        margin: 0;
        font-size: 16px;
        margin-bottom: 7px;
    }
}

.footer-nav  {
    color: white;
}

.footer-information {
    color: white;
}


// Footer container bottom

.footer-credit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $vertf;
    color: white;
    padding: 15Px 0;
    h4 {
        font-size: 13px;
        margin: 0;
    }
}

