// STYLE PAGE CONTACT - AVIS - DEMANDE DE REMBOURSEMENT

// SECTION TEXT CONTACT ---------------------------------------

.section-left-container {
    padding: 20px;
    background-color: $grisbg;
    padding: 0;
}

.section-left-text {
    padding: 20px;
    h5 {
        color: $vertf;
        font-size: 16px;
        text-align: center;
        margin: 15px 0 20px;
    }
}

.contact-info-form {
    margin: 20Px 0;

}

.contact-row {
    padding: 10px 20px;
    box-shadow: 0 0 3px #4A898B;
    margin: 20px 0;
    align-items: center;
    border-radius: 20px;

    p {
        margin:0;
        color: $noir;
    }
}
// SECTION FORM CONTACT------------------------------------------

.section-right-container {
    padding: 0;
}

.section-form {
    box-shadow: 0 0 10px $gris;
    padding: 20px;
    label {
        color: $vertf;
        margin-bottom: 10Px;
    } h3 {
        margin-bottom: 20px;
        color: $vertf;
        font-size: 20px;
    } a {
        color: $noir;
    }
}


