// STYLE HOME PAGE --------------------------------------------------------------------------------------------------------

// HERO BANNER ------------------------------------------------------------------------------------------------------------

.section-banner-home-img {
    height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 20px;
    opacity: 0.8;
}

.section-banner-home-title{
    height: 80vh;
    box-shadow: 0px 0px 10px $gris;
    padding: 31px;
    margin-top: 20px;
    h4 {
        font-size: 17px;
        margin-bottom: 40px;
        color: #949a9a;
    } h1 {
        border-bottom: 2px solid $vertf;
        margin-bottom: 40px;
        color: $vertf;
        text-shadow: $gris 2px 0 5px;
    }
}

// SECTION PRESENTATION DU CONCEPT ET LIVRAISON ---------------------------------------------------------------------------

.section-presentation-container {
    height: auto;
    padding: 30px;
    box-shadow: 0 0 10px $gris;
    margin-top: 20px;
    h1 {
       color: $vertc;
       text-shadow: $gris 2px 0 5px;
    } p {
        font-size: 14px;
    }
}


.section-description-livraison, .section-presentation-concept {
    padding-top: 30px;
}

// IMG CONCEPT HEIGHT------------------------------------------------------------------------------------------------------
#logo-home {
    height: 100px;
}
#logo-home-text {
    height: 60px;
}


// BANNER SLIDER ----------------------------------------------------------------------------------------------------------

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
  
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
  
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
  
.rslides img {
    display: block;
    height: 80vh;
    float: left;
    width: 100%;
    border: 0;
}

    
// MEDIA QUERIES ---------------------------

@media screen and (max-width:450px) {
    .home-banner-title {
        height: auto;
        
        h1 {
                font-size: 1.5em;
        }
    }
    .home-banner {
        height: 40vh;    
    }
        
    .concept-container {
        padding: 30px 20px;
    }
    
    .rslides img {
        height: 40vh;
    }

    #map {
        height: 280px;
    }
    .menu-choices-container a {
        padding: 8px;
    }
}




.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}



// PRELOADER -----------------


// POP UP OUVERTURE LIVRAISON --------------------

#popup {
    padding: 15px 20px;
    margin-top: 20px;
    color: $jaune;
    border: 2px solid $jaune;
    position: relative;
    h2 {
        font-size: 20px;
        margin:0;
    }
}

#popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


 