// STYLE HOME PAGE --------------------------------------------------------------------------------------------------------

// HERO BANNER ------------------------------------------------------------------------------------------------------------

.section-banner-home-img {
    height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 20px;
    opacity: 0.8;
    box-shadow: 0px 0px 10px $gris;
    border-radius: 15px;
}

.section-banner-home-title{
    height: 80vh;
    box-shadow: 0px 0px 10px $gris;
    padding: 31px;
    margin-top: 20px;
    h4 {
        font-size: 17px;
        margin-bottom: 40px;
        color: #949a9a;
    } h1 {
        // border-bottom: 2px solid $vertf;
        margin-bottom: 40px;
        text-align: center;
        text-shadow: $gris 2px 0 5px;
        background: -webkit-linear-gradient($vertf, $vertc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// SECTION PRESENTATION DU CONCEPT ET LIVRAISON ---------------------------------------------------------------------------

.section-presentation-container {
    height: auto;
    padding: 30px;
    box-shadow: 0 0 10px $gris;
    margin-top: 20px;
    h1 {
        background: -webkit-linear-gradient($vertf, $vertc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       text-shadow: $gris 2px 0 5px;
       font-size: 30px;
    } p {
        font-size: 14px;
    }
}


.section-description-livraison, .section-presentation-concept {
    padding-top: 30px;

    p {
        margin-top: 10px;
    }
}



// IMG CONCEPT HEIGHT------------------------------------------------------------------------------------------------------
#logo-home {
    height: 100px;
}
#logo-home-text {
    height: 60px;
}


// BANNER SLIDER ----------------------------------------------------------------------------------------------------------

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    
    
}
  
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  
}
  
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
  
.rslides img {
    display: block;
    height: 80vh;
    float: left;
    width: 100%;
    border: 0;
    border-radius: 15px;
}

    
// MEDIA QUERIES ---------------------------

@media screen and (max-width:450px) {
    .home-banner-title {
        height: auto;
        
        h1 {
                font-size: 1.5em;
        }
    }
    .section-banner-home-img {
        height: 60vh;    
    }
    .section-banner-home-title {
        height: auto;
        
    }
    .concept-container {
        padding: 30px 20px;
    }
    
    .rslides img {
        height: 60vh;
    }

    #map {
        height: 280px;
    }
    .menu-choices-container a {
        padding: 8px;
    }
    .section-presentation-concept {
        margin-bottom: 20px;
    }
}




.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}






// POP UP OUVERTURE LIVRAISON --------------------

#popup {
    padding: 15px 20px;
    margin-top: 20px;
    color: $jaune;
    border: 2px solid $jaune;
    position: relative;
    h2 {
        font-size: 15px;
        margin:0;
    }
}

#popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


 // PRELOADER -------------------------------------------


  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* makes sure it stays on top */
  }
  
  .status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url('../images/logo-bateau.svg');
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */

    
  }

  .loading {
    $colors: #4a898b, #4b9698, #4da3a5, #4db0b3, #4dbdc0;
    display: flex;
    animation-delay: 1s;
    margin-top: 200px;
  
    .dot {
      position: relative;
      width: 1em;
      height: 1em;
      margin: 0.8em;
      border-radius: 50%;
  
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        animation: wave 2s ease-out infinite;
      }
  
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          background: nth($colors, $i);
  
          &::before {
            animation-delay: $i * 0.2s;
          }
        }
      }
    }
  }
  
  @keyframes wave {
    50%,
    75% {
      transform: scale(2.5);
    }
  
    80%,
    100% {
      opacity: 0;
    }
  }
  

// Balise hr style -----------------

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #FFFFFF;
    }
  }


  