// Home Page Style

// Banner Section

.home-banner {
    height: 80vh;
    background-image: url(../images/banner-bateau.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 20px;
    opacity: 0.8;
}

.home-banner-title {
    height: 80vh;
    box-shadow: 0px 0px 10px $gris;
    padding: 31px;
    margin-top: 20px;

}

// Home Section Concept Livraison Produits

.concept-container {
    height: 400px;
    padding: 30px;
    box-shadow: 0 0 10px $gris;
    margin-top: 20px;
}


// Section Concept

.livraison-container {
    height: 400px;
    padding: 30px;
    box-shadow: 0 0 10px $gris;
    margin: 20px 0;
}

/// Banner modal

.menu-choice-modal {
    border: none;
    box-shadow: 0 0 10px $gris;
    background-color: rgba(255, 255, 255, 0.9);
}

.menu-choices-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;

    a {
        padding: 20px;
        background-color: $vertf;
        color: white;
        border-radius: 9px;
    }
}

.menu-choices-header {
    border: none;
}

.no-border {
    border: none;
    box-shadow: 0 0 10px $gris;
}


// Map

.marker {
    background-image: url('../images/marker.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }