// STYLE MAP --------------------------------------------------------

.marker {
    background-image: url('../images/marker.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
   
    cursor: pointer;
}

.marker-apero {
    background-image: url('../images/marker-apero.svg');
    background-size: cover;
    width: 40px;
    height: 40px;

    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
  }
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
}