// Navbar style

// Navbar container

.nav-container {
    height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;  // padding left right
    transition: .5s;
    background-color: white;

}

.mapboxgl-popup-content {
  font-family: 'Montserrat', sans-serif !important;
}
.black {
    background-color: $grisbg;
    box-shadow: 0 0 10px #8080805c;
    height: 50px !important;
}

.active-gray {
  background-color: $grisbg;
  box-shadow: 0 0 10px #8080805c;
}

// Navbar link

.nav-link {
    margin: 0;
    padding: 0;
    position: relative;
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
    } li {
        padding: 0 20px;
    } li > a {
        color: $vertf;
        font-size: 13px;
        text-shadow: $gris 2px 0 5px;
        transition: all 0.3s ease-in-out;
        
    } a:hover {
      opacity: 0.8;
      text-decoration: none;
      border-bottom: 2px solid;
      
    }
}


// Nav Logo -----------------------------------------------------------

.nav-log {
    h1 {
      margin: 0;
    } img {
      cursor: pointer;
    }
}

.nav-log.hidden{
  visibility: hidden;
}


// Dropdown btn

.dropbtn {
   
    color: white;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown a {
      padding: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    margin-top: 3px;
  }
  
  .dropdown-content a {
    color: $vertf;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
  }
  
  .dropdown-content a:hover {opacity: 0.5;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .menu-profil {
    border: none;
    p {
      padding: 10px 15px;
    } a {
      padding: 5px 15px;
    }
  }
// overlay 
$color-background: $vertf;
$color-main: #1abc9c;
$color-active: $vertf;
$color-link: $vertf;
$button-height: 27px;
$button-width: 35px;


.button_container {
    position: absolute;
    top: 20px;
    left: 60px;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    
  &:hover {
    opacity: 1;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
 
    }
    .middle {
      opacity: 0;
      background: $color-active;
 
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
 
    }
  }
  
  span {
  background: $vertf;
  border: none;
  height: 1.5px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
  border-radius: 3px;
    
    &:nth-of-type(2) {
      top: 11px;
      width: 65%;
    }
    
    &:nth-of-type(3) {
      top: 22px;
      width: 94%;
    }
    .top {
      width: 96%;
    }
  }
}

.hamburger-navbar ul {
    list-style: none;
    margin: 0;

}

.overlay {
  position: fixed;
  background-color:$grisbg;
  top: 60px;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 80;
  
  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    h1 {
      margin-bottom: 32px;
      font-size: 30px;
      color: $vertc;
    }
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 10);
      min-height: 30px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        font-size: 20px;
        
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $vertf;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

// DROP DOWN

.drop-content {
  // border: 1px solid $vertf;
  box-shadow: 0 0 10px $gris;
  a {
    font-size: 13px;
    color: $vertf;
  } p {
    @extend a;
    border-bottom: 0.6px solid $vertf;
  }
}

// Media Queries Navbar

@media screen and (max-width: 650px)  {
    .nav-container {
        height: 60px;
        padding: 0 10px;
    }

    .nav-logo a > img {
      height: 60px;
      width: 100%;
    }

    .button_container {
        left:10px;
    }
}