.moyendepaiement-container {
    height: auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    p {
        margin: 0;
        font-size: 14px;
    }
}


// top page

.recap-info {
    
    color: $noir;
    padding: 0 20px;
    p {
        margin: 0;
        padding: 0;
        font-size: 14px;
    } h5 {
        color: $vertf;
    }
}

// Paiement page

.section-left-payment {
    background-color: $grisbg;
    padding:20px ;
    border-radius: 3px;
}


.section-right-payment {
    background: white;
    box-shadow: 0 0 10px #8080805c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
        text-align: center;
    margin-bottom: 25px;
    color: $vertf;
    padding-bottom: 27px;
    border-bottom: 1px solid $grisbg;
    }
}


// MEDIA QUERIES ----------------------------------

@media screen and (max-width: 650px) {
    .section-right-payment {
        padding: 20px;
    }
}