$main-color: #165361;
$color-primary:#52908B;
$color-second:#E5E2CA;

$yel-color: #F9BA32;
$blue-color: #426E86;
$back-color: #F8F1E5;

$vertf: #4A898B;
$vertc: #4DBDC0;
$vertalert: #4dbdc04a;
$noir: #454545;
$gris: #8080805c;