@import 'variables';
@import 'home';
@import 'navbar';
@import 'product-list';
@import 'product-detail';
@import 'footer';
@import 'fonts';
@import 'cart';
@import 'checkout';
@import 'sign-up';

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
}

.alert {
    margin-bottom: 0;
}


