{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="product-image-banner">
        <div class="product-text-banner">
            <h1>VOTRE AVIS NOUS INTÉRESSE</h1>
        </div>
    </div>
    <form method='POST' class='avis-form-container' id='create-form'>
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-6 mb-3">
                <div class="avis-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo autem quos amet, enim, dolorum ullam
                    accusamus est ipsam sed pariatur eum omnis, natus tempore nostrum vero laudantium. Aliquid,
                    molestiae velit.
                </div>

                <div id="search_result"></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="avis-form">
                    <h2>{{ form.email.label }}</h2>
                    <p>{{ form.email }}</p>
                    <small>{{ form.email.help_text }}</small>

                    <!-- <div class="avis-objet">
                        <ul>

                        </ul>
                        <h2>{{ form.objet.label }}</h2>
                        <p>{{ form.objet }}</p>

                    </div> -->
                    <h2>{{ form.objet.label }}</h2>
                    {% for value, name in form.fields.objet.choices %}
                    <div class="custom-control custom-radio">
                        <input id="{{ name }}" name="delivery_option" value="{{ value }}" type="radio"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="{{ name }}">{{ name }}</label>

                    </div>
                    {% endfor %}

                    <h2 class='mt-2'>{{ form.message.label }}</h2>
                    <p>{{ form.message }}</p>
                    <input type="submit" value='Je donne mon avis' class="btn-valider">
                </div>

            </div>
        </div>



    </form>
</div>

{% endblock content %}

{% block extra_scripts %}
<script>
    $(document).on('submit', '#create-form', function (e) {
        $.ajax({
            type: 'POST',
            url: '{% url "avis" %}',
            data: {
                email: $('#id_email').val(),
                objet: $('#id_objet:checked').val(),
                message: $('#id_message').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function (json) {
                document.getElementById("create-form").reset();
                alert('Ajax works');
                window.location = "{% url 'home'%}";
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
</script>
{% endblock extra_scripts %}