{% extends "base.html" %}
{% block head_title %}Votre avis nous intéresse{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="header-section-title-container">
        <div class="header-section-title">
            <h1>VOTRE AVIS NOUS INTÉRESSE</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 mb-3 section-left-container">
            <div class="section-left-text">
                <p>Votre avis nous intéresse. Donnez votre avis sur notre service pour qu'on puisse améliorer et ajuster
                    notre offre. Cet avis ne sera pas partagé.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 mb-3 section-right-container">
            <div class="section-form">
                <h3 class="text-center">Partagez votre avis</h3>
                <form method='POST'>
                    {% csrf_token %}
                    <label for="objet">Objet</label>
                    {% for value, name in form.fields.objet.choices %}
                    <div class="option-delivery">
                        <label class="" for="{{ name }}">
                            <input id="{{ name }}" name="objet" value="{{ value }}" type="radio" class="" required>
                            <span>{{ name }}</span>
                        </label>
                    </div>
                    {% endfor %}
                    <small>{{ form.objet.errors }}</small>


                    <label for="message">Message</label>
                    <p>{{ form.message }}</p>
                    <small>{{ form.message.errors }}</small>
                    <input type="submit" value='PARTAGER' class="btn-valider">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}