{% load static %}
<div class="bandereau-qualite-container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <img src="{% static '../static/images/boatdelivery.svg' %} " alt="" style='height:40px'>
            <p>Livraison gratuite</p>
        </div>
        <div class="col-xs-6 col-md-4">
            <img src="{% static '../static/images/safe.svg' %} " alt="" style='height:40px'>
            <p>Paiement sécurisé</p>
        </div>
        <div class="col-xs-6 col-md-4">
            <img src="{% static '../static/images/servicleclient.svg' %} " alt="" style='height:40px'>
            <p>Service client</p>
        </div>

    </div>
</div>