{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header-section-title-container">
        <div class="header-section-title">
            <h1>CONDITIONS GÉNÉRALES DE VENTE</h1>
        </div>
    </div>



    <div class="cgv-contenu">
        <h1>Les modalités de commande</h1>
        <p>Il s'agit de décrire de la manière la plus précise possible la facon dont un internaute peut commander un
            produit</p>
        <p>Préciser qu'il s'agit d'un site ecommerce de vente à des particuliers et non à des professionnels</p>

        <h1>Les modalités de paiement</h1>
        <p>Il s'agit d'expliquer au client comment ilk peut payer une coimmande. Quels sont les moyens de paiement à sa
            disposition? </p>
        <p>Qui gère le paiement par carte bancaire</p>
        <p>Une fois la commande passé, un mail de confirmation va vous petre envoyé</p>

        <h1>Les modalités de livraison</h1>
        <p>obligatoire de mentionner le mode de livraison, les délais de livraison et les coûts de livraiosn.</p>
        <p>Mentionner explicitement les zones de livraison (lien vers la carte)</p>
        <p>Mentionner aussi la taille et le poids maximal des produits (éviter que quelqu'un achète 10 caisses de vin
            par exemple</p>

        <h1>Les modalités de rétractation</h1>
        <p>Les CGV de votre site doivent obligatoirement informer vos visiteurs de la durée du délai de rétractation, de
            point de départ, de la procédure de remboursement du produit, du paiement éventuel des frais de retour.</p>
    </div>
</div>

{% endblock content %}