{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<main class='checkout-bg'>
    <div class="container">
        <div class="product-image-banner">
            <div class="product-text-banner">
                <h1>LIVRAISON</h1>
                <p>Informations personnelles</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card-checkout">
                    <form method="POST" class="card-body">
                        {% csrf_token %}
                        <h3>Des couverts ? <span id="informations-tooltip"> <img
                                    src="{% static '../static/images/tooltip.svg' %}" alt=""
                                    style='height: 15px;'></span></h3>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="md-form mb-2 ">

                                    <p>{{ form.couvert.label_tag }} {{ form.couvert }}</p>


                                </div>
                            </div>
                        </div>



                        <h3>Informations personnelles <span id="informations-tooltip"> <img
                                    src="{% static '../static/images/tooltip.svg' %}" alt=""
                                    style='height: 15px;'></span></h3>
                        {{ form.non_field_errors }}

                        {% if default_address %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="user-save form-group" style="padding: 25px 25px 0">

                                    <input type="checkbox" class="custom-control-input" name="use_default_shipping"
                                        id="use_default_shipping">

                                    <label class="custom-control-label" for="use_default_shipping">Utiliser votre profil
                                        :
                                        <ul>
                                            <li>{{ default_address.prenom }} {{ default_address.name }}</li>

                                            <li>{{ default_address.email }}</li>
                                            <li>{{ default_address.phone }}</li>
                                        </ul>

                                    </label>



                                </div>
                                <hr class='not-show'>
                            </div>
                        </div>

                        {% endif %}



                        <div class='hideable_shipping_form'>

                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        {{ form.prenom.label_tag }}
                                        {{ form.prenom.errors }}
                                        {{ form.prenom }}
                                        {{ form.help_text }}



                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2 ">

                                        {{ form.name.label_tag }}
                                        {{ form.name.errors }}
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        {{ form.email.label_tag }}
                                        {{ form.email.errors }}
                                        {{ form.email }}
                                        {{ form.help_text }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">

                                        {{ form.phone.label_tag }}
                                        {{ form.name.errors }}
                                        {{ form.phone }}
                                        {{ form.help_text }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        {{ form.code_postal.label_tag }}
                                        {{ form.code_postal }}
                                        {{ form.name.errors }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        {{ form.pays.label_tag }}
                                        {{ form.pays }}
                                        {{ form.name.errors }}
                                    </div>
                                </div>
                                {% if not default_address %}
                                <div class="col-xs-12">
                                    <div class="md-form mb-2 ml-3">
                                        <div>
                                            {{ form.save_address }}
                                            <label for="" class="">Sauvegarder ces informations pour une prochaine
                                                commande</label>

                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>


                        <hr>
                        <h3>Modalités de livraison <span id="delivery-tooltip"> <img
                                    src="{% static '../static/images/tooltip.svg' %}" alt=""
                                    style='height: 15px;'></span></h3>

                        <div class="d-block my-3">


                            {% for value, name in form.fields.delivery_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{ name }}" name="delivery_option" value="{{ value }}" type="radio"
                                    class="custom-control-input" required>
                                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>

                            </div>
                            {% endfor %}

                        </div>
                        <div class="option-bateau" id='emplacement-bateau'>
                            <h3>Option Livraison sur Bateau <span id="delivery-option-tooltip"> <img
                                        src="{% static '../static/images/tooltip.svg' %}" alt=""
                                        style='height: 15px;'></span></h3>
                            <div class="row mb-3">
                                <div class="col-xs-12 col-md-6">
                                    {{ form.zone_delivery.label_tag }}
                                    {{ form.zone_delivery }}
                                    {{ form.zone_delivery.errors }}
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    {{ form.rang_delivery.label_tag }}
                                    {{ form.rang_delivery }}
                                    {{ form.rang_delivery.errors }}
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    {{ form.numero_delivery.label_tag }}
                                    {{ form.numero_delivery }}
                                    {{ form.numero_delivery.errors }}
                                </div>
                                <div id="creneau-show" class="col-xs-12 col-md-6">
                                    {{ form.creneau_delivery.label_tag }}
                                    {{ form.creneau_delivery }}
                                    {{ form.creneau_delivery.errors }}
                                </div>
                            </div>

                        </div>
                        <div id='map-dejeuner' style='width: 100%; height: 340px;'></div>
                        <br>
                        <h3>Date de livraison<span id="date-tooltip"> <img
                                    src="{% static '../static/images/tooltip.svg' %}" alt=""
                                    style='height: 15px;'></span></h3>
                        <br>

                        <div class="row">
                            <div class="col">
                                {{ form.date_delivery }}
                                {{ form.date_delivery.errors }}
                                <div class="help-text-form">
                                    <span><img src="{% static '../static/images/warning.svg' %}" alt="attention"
                                            style="height: 30px;"></span> {{ form.date_delivery.help_text }}
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">

                        <div class="row">
                            <div class="col">
                                <p> {{ form.cgv }} <span class='pl-3'> <small>Je déclare avoir pris connaissance des <a
                                                href="{% url 'cgv' %}">conditions générales de vente</a> et les accepte
                                            sans
                                            réserve</small></span></p>
                                {{ form.cgv.errors }}
                                <!-- <div class="help-text-form">
                                        <span><img src="{% static '../static/images/warning.svg' %}" alt="attention"
                                                style="height: 30px;"></span> {{ form.date_delivery.help_text }}
                                    </div> -->
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn-valider btn-lg btn-block" type="submit" id='submit-checkout'>Valider la
                            commande</button>
                    </form>
                </div>




            </div>
            <div class="col-md-4">
                <div id='stickycart' class="col-md-12 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="cart-header" id='cart-quantity'> Panier - {{ order.get_quantity }}</span>

                    </h4>
                    <ul id="js-cart-append" class="list-group mb-3 z-depth-1">
                        {% for order_item in order.products.all %}
                        <li class="list-group-item cart-line d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"><span
                                        data-quantity-id="{{order_item.product.slug}}">{{ order_item.quantity }}</span>
                                    x
                                    {{ order_item.product.name}}</h6>

                            </div>
                            <span class="text-muted"
                                data-total-id='{{order_item.product.slug}}'>{{ order_item.get_total_product_price }}€</span>
                        </li>
                        {% endfor %}

                        <!-- {% if order.coupon %}
            
                                <li class="list-group-item cart-line d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Coupon</h6>
                                        <small>{{ order.coupon.code }}</small>
                                    </div>
                                    <span class="text-success">-{{ order.coupon.amount }}€</span>
                                </li>
            
                                {% endif %} -->
                        <li class="list-group-item cart-line d-flex justify-content-between">
                            <span>Total (€)</span>
                            <strong id="order-snippet-id">{{ order.get_total }}€</strong>
                        </li>
                        <!-- {% if DISPLAY_COUPON_FORM %}
                                <form class="card p-2" action="{% url 'add-coupon' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
            
                                        {{ couponform.code }}
            
            
            
                                        <div class="input-group-append">
            
                                            <button class=" btn-md btn-valider waves-effect m-0" type="submit">Valider</button>
                                        </div>
                                    </div>
                                </form>
                                {% endif %} -->
                        <a class='btn-valider float-right mt-2' href="{% url 'order-summary-dejeuner' %}">
                            Modifier le panier</a>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>


<script>
    $(document).ready(function () {
        tippy('#date-tooltip', {
            arrow: true,
            content: 'Vous devez sélectionner un moyen de livraison'
        });
        tippy('#delivery-tooltip', {
            arrow: true,
            content: 'Vous devez sélectionner une date de livraison'
        });
        tippy('#delivery-option-tooltip', {
            arrow: true,
            content: 'Ces informations sont nécessaire pour situer votre bateau'
        });
        tippy('#informations-tooltip', {
            arrow: true,
            content: 'Ces informations personnelles sont nécessaires pour la livraison et la facturation'
        });
    });

</script>

<script>

    $(document).ready(function () {
        var delivery_one = document.getElementById('Point-fixe-1'),
            delivery_two = document.getElementById('Loueur-de-bateau'),
            delivery_bateau = document.getElementById('Livraison-sur-bateau');

        delivery_one.addEventListener('click', function () {
            flatpickr('#datepicker-dejeuner', {
                // defaultDate: new Date().fp_incr(1),
                minDate: new Date().fp_incr(1),
                dateFormat: "d/m/Y H:i",
                altFormat: "d/m/Y H:i",
                defaultTime: '10:30',
                minTime: '10:30',
                maxTime: '11:00',
                enableTime: true,
                time_24hr: true,
                minuteIncrement: '10',
                locale: "fr",
                disableMobile: "true"

            });

        });

        delivery_two.addEventListener('click', function () {
            flatpickr('#datepicker-dejeuner', {
                // defaultDate: new Date().fp_incr(1),
                minDate: new Date().fp_incr(1),
                dateFormat: "d/m/Y H:i",
                altFormat: "d/m/Y H:i",
                defaultTime: '10:00',
                minTime: '10:00',
                maxTime: '12:00',
                enableTime: true,
                time_24hr: true,
                minuteIncrement: '10',
                locale: "fr",
                disableMobile: "true"


            });

        });

        delivery_bateau.addEventListener('click', function () {

            flatpickr('#datepicker-dejeuner', {
                minDate: new Date().fp_incr(1),
                dateFormat: "d/m/Y",
                altFormat: "d/m/Y",
                enableTime: false,
                locale: "fr",
                disableMobile: "true"

            });
        });

    });

</script>

<script>
    var hideable_shipping_form = $('.hideable_shipping_form');
    var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
    var not_show = $('.not-show');
    use_default_shipping.addEventListener('change', function () {
        if (this.checked) {
            $("#id_prenom").val('{{ default_address.prenom }}');
            $("#id_name").val('{{ default_address.name }}');
            $("#id_email").val('{{ default_address.email }}');
            $("#id_phone").val('{{ default_address.phone }}');
            $("#id_code_postal").val('{{ default_address.code_postal }}');
            $("#id_pays").val('{{ default_address.pays }}');
            hideable_shipping_form.hide();
            not_show.hide();
        } else {
            $("#id_prenom").prop('required', true);
            $("#id_name").prop('required', true);
            $("#id_email").prop('required', true);
            $("#id_phone").prop('required', true);
            $("#id_code_postal").prop('required', true);
            $("#id_pays").prop('required', true);

            $("#id_prenom").val('');
            $("#id_name").val('');
            $("#id_email").val('');
            $("#id_phone").val('');
            $("#id_code_postal").val('');
            $("#id_pays").val('');
            hideable_shipping_form.show();
        }
    });

</script>

<script>






</script>

<script>
    $(document).ready(function () {
        $('#emplacement-bateau').hide();
        $("#Livraison-sur-bateau").click(function () {
            $('#emplacement-bateau').show();
            $("#id_zone_delivery").prop('required', true);
            $("#id_rang_delivery").prop('required', true);
            $("#id_numero_delivery").prop('required', true);
        })
        $("#Point-fixe-1").click(function () {
            $('#emplacement-bateau').hide();
            $("#id_zone_delivery").prop('required', false);
            $("#id_rang_delivery").prop('required', false);
            $("#id_numero_delivery").prop('required', false);
        })
        $("#Loueur-de-bateau").click(function () {
            $('#emplacement-bateau').hide();
            $("#id_zone_delivery").prop('required', false);
            $("#id_rang_delivery").prop('required', false);
            $("#id_numero_delivery").prop('required', false);
        })

    })


</script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoib2RpbGVsZWNsZXJjc2l0ZSIsImEiOiJjazZjMDJtNGEwZ3F2M2tvdnNncnkxNXRxIn0.c7i8XUNby5CQwhdrsG3r0A';
    var map = new mapboxgl.Map({
        container: 'map-dejeuner',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-1.249550, 44.651470], //longitude, latitude
        zoom: 11,
    });


    var geojson = {
        type: 'FeatureCollection',
        features: [{
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [-1.249812, 44.6308885]
            },
            properties: {
                title: 'Point fixe',
                description: 'Ecole de voile'
            }
        },
        {
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [-1.2488579750061035, 44.64594650268555]
            },
            properties: {
                title: 'Loueur de bateau',
                description: 'Prise des commandes au port'
            }
        }]
    };


    // add markers to map
    geojson.features.forEach(function (marker) {

        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
            .addTo(map);
    });
</script>


<script>

    $(document).ready(function () {

        var firstOption = $('#select-time'),
            firstOpt = firstOption.children(':first-child'),
            secondOpt = firstOption.children().last(),
            myCreneau = $('#creneau-show'),
            zone_delivery_value = $('#id_zone_delivery');

        myCreneau.hide();
        zone_delivery_value.change(function () {
            myCreneau.show();
            if (zone_delivery_value.val() == '4' || zone_delivery_value.val() == '5b') {

                secondOpt.children().attr('disabled', true);
                firstOpt.children().attr('disabled', false);

            } else {
                firstOpt.children().attr('disabled', true);
                secondOpt.children().attr('disabled', false);

            }

        });


    })
</script>




{% endblock extra_scripts %}