{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main class='checkout-bg'>
    <div class="container">
        <div class="product-image-banner">
            <div class="product-text-banner">
                <h1>LIVRAISON</h1>
                <p>Informations personnelles</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <form method="POST" class="card-body">
                        {% csrf_token %}
                        <h3>Informations personnelles</h3>


                        {% if default_address %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="use_default_shipping"
                                id="use_default_shipping">
                            <label class="custom-control-label" for="use_default_shipping">Utiliser vos informations
                                personnelles:
                                {{ default_address.prenom }}
                                {{ default_address.name }} - {{ default_address.email }} - {{ default_address.phone }} -
                                {{ default_address.pays }} - {{ default_address.code_postal  }}
                            </label>
                        </div>
                        {% endif %}



                        <div class='hideable_shipping_form'>

                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        <label class="">Prénom</label>
                                        {{ form.prenom }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2 ">
                                        <label class="">Nom</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        <label class="">Email</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        <label class="">Téléphone</label>
                                        {{ form.phone }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        <label for="" class="">Code postal</label>
                                        {{ form.code_postal }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        <label for="" class="">Pays</label>
                                        {{ form.pays }}
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="md-form mb-2">
                                        <div>
                                            {{ form.address_default }}
                                            <label for="" class="">Sauvegarder ces informations pour une prochaine
                                                commande</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h3>Date de livraison</h3>
                        <div class="row">
                            <div class="col">


                                <div class="input-group date datetimepicker1" id="datetimepicker1"
                                    data-target-input="nearest">
                                    {{ form.date_delivery}}
                                    <!-- <div class="input-group-append" data-target="#datetimepicker1"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div> -->
                                </div>

                            </div>
                        </div>
                        <hr>
                        <h3>Modalités de livraison</h3>
                        <div class="d-block my-3">
                            {% for value, name in form.fields.delivery_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{ name }}" name="delivery_option" value="{{ value }}" type="radio"
                                    class="custom-control-input" required>
                                <label class="custom-control-label" for="{{ name }}">{{ name }} - {{ value }}</label>
                            </div>
                            {% endfor %}
                        </div>


                        <hr class="mb-4">
                        <button class="btn-valider btn-lg btn-block" type="submit">Valider la commande</button>

                    </form>

                </div>

            </div>
            <div class="col-md-4 mb-4">
                <div id='stickycart' class="col-md-12 mb-4 mt-5 ">
                    {% include 'order-snippet.html' %}
                    <a class='btn-valider float-right mt-2' href="{% url 'order-summary' %}">
                        Modifier votre panier</a>
                </div>
            </div>

        </div>

    </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<!-- <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script> -->
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>

<!-- <script>
    flatpickr('.datetimepicker1', {
        "locale": "fr",  // locale for this instance only

    });
</script> -->
<script>
    var hideable_shipping_form = $('.hideable_shipping_form');


    var use_default_shipping = document.querySelector("input[name=use_default_shipping]");

    use_default_shipping.addEventListener('change', function () {
        if (this.checked) {
            hideable_shipping_form.hide();
        } else {
            hideable_shipping_form.show();
        }
    })


</script>
{% endblock extra_scripts %}