{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<main class='checkout-bg'>
    <div class="container">
        <div class="product-image-banner">
            <div class="product-text-banner">
                <h1>LIVRAISON</h1>
                <p>Informations personnelles</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <form method="POST" class="card-body">
                        {% csrf_token %}
                        <h3>Informations personnelles</h3>
                        {{ form.non_field_errors }}

                        {% if default_address %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="user-save" style="padding: 25px">
                                    <input type="checkbox" class="custom-control-input" name="use_default_shipping"
                                        id="use_default_shipping">
                                    <label class="custom-control-label" for="use_default_shipping">Utiliser vos
                                        informations
                                        personnelles:
                                        {{ default_address.name }}

                                    </label>

                                </div>

                            </div>
                        </div>

                        {% endif %}



                        <div class='hideable_shipping_form'>

                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        {{ form.prenom.label_tag }}
                                        {{ form.prenom.errors }}
                                        {{ form.prenom }}
                                        {{ form.help_text }}



                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2 ">

                                        {{ form.name.label_tag }}
                                        {{ form.name.errors }}
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        {{ form.email.label_tag }}
                                        {{ form.email.errors }}
                                        {{ form.email }}
                                        {{ form.help_text }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">

                                        {{ form.phone.label_tag }}
                                        {{ form.name.errors }}
                                        {{ form.phone }}
                                        {{ form.help_text }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        {{ form.code_postal.label_tag }}
                                        {{ form.code_postal }}
                                        {{ form.name.errors }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="md-form mb-2">
                                        {{ form.pays.label_tag }}
                                        {{ form.pays }}
                                        {{ form.name.errors }}
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="md-form mb-2 ml-3">
                                        <div>
                                            {{ form.save_address }}
                                            <label for="" class="">Sauvegarder ces informations pour une prochaine
                                                commande</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <h3>Modalités de livraison</h3>
                        <div class="d-block my-3">


                            {% for value, name in form.fields.delivery_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{ name }}" name="delivery_option" value="{{ value }}" type="radio"
                                    class="custom-control-input" required>
                                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>

                            </div>
                            {% endfor %}
                            <div class="col">
                                <div id='map-dejeuner' style='width: 100%; height: 340px;'></div>

                            </div>


                        </div>
                        <div class="option-bateau" id='emplacement-bateau'>
                            <h3>Option Livraison sur Bateau</h3>
                            <div class="row">
                                <div class="col">
                                    {{ form.zone_delivery.label_tag }} <br>
                                    {{ form.zone_delivery }}
                                    {{ form.zone_delivery.errors }}
                                </div>
                                <div class="col">
                                    {{ form.rang_delivery.label_tag }}
                                    {{ form.rang_delivery }}
                                    {{ form.zone_delivery.errors }}
                                </div>
                                <div class="col">
                                    {{ form.numero_delivery.label_tag }}
                                    {{ form.numero_delivery }}
                                    {{ form.zone_delivery.errors }}
                                </div>

                            </div>

                        </div>
                        <h3>Date de livraison</h3>
                        <div class="row">
                            <div class="col">
                                {{ form.date_delivery }}
                                {{ form.date_delivery.errors }}
                                <div class="help-text-form">
                                    <span><img src="{% static '../static/images/warning.svg' %}" alt="attention"
                                            style="height: 30px;"></span> {{ form.date_delivery.help_text }}
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn-valider btn-lg btn-block" type="submit">Valider la commande</button>
                    </form>
                </div>




            </div>
            <div class="col-md-4 mb-4">
                <div id='stickycart' class="col-md-12 mb-4 mt-5 ">
                    {% include 'order-snippet.html' %}
                    <a class='btn-valider float-right mt-2' href="{% url 'order-summary-dejeuner' %}">
                        Modifier votre panier</a>
                </div>
            </div>

        </div>

    </div>

    </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoib2RpbGVsZWNsZXJjc2l0ZSIsImEiOiJjazZjMDJtNGEwZ3F2M2tvdnNncnkxNXRxIn0.c7i8XUNby5CQwhdrsG3r0A';
    var map = new mapboxgl.Map({
        container: 'map-dejeuner',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
</script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>

<script>

    $(document).ready(function () {

        flatpickr('#datepicker-dejeuner', {
            // defaultDate: new Date().fp_incr(1),
            minDate: new Date().fp_incr(1),
            dateFormat: "d/m/Y H:i",
            altFormat: "d/m/Y H:i",
            defaultTime: '12:00',
            minTime: '10:00',
            maxTime: '12:30',
            enableTime: true,
            time_24hr: true,
            minuteIncrement: '10',
            locale: "fr",
        })
    });

</script>

<script>
    $(document).ready(function () {
        var hideable_shipping_form = $('.hideable_shipping_form');
        var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
        $(use_default_shipping).click(function () {
            $("#id_prenom").val('{{ default_address.prenom }}');
            $("#id_name").val('{{ default_address.name }}');
            $("#id_email").val('{{ default_address.email }}');
            $("#id_phone").val('{{ default_address.phone }}');
            $("#id_code_postal").val('{{ default_address.code_postal }}');
            $("#id_pays").val('{{ default_address.pays }}');
            $('.hideable_shipping_form').hide();
        })

    })

    // use_default_shipping.addEventListener('change', function () {
    //     if (this.checked) {
    //         $("#id_prenom").val('{{ default_address.prenom }}');
    //         $("#id_name").val('{{ default_address.name }}');
    //         $("#id_email").val('{{ default_address.email }}');
    //         $("#id_phone").val('{{ default_address.phone }}');
    //         $("#id_code_postal").val('{{ default_address.code_postal }}');
    //         $("#id_pays").val('{{ default_address.pays }}');

    //         hideable_shipping_form.hide();
    //         // $("#id_prenom").prop('required', false);
    //         // $("#id_name").prop('required', false);
    //         // $("#id_email").prop('required', false);
    //         // $("#id_phone").prop('required', false);
    //         // $("#id_code_postal").prop('required', false);
    //         // $("#id_pays").prop('required', false);
    //     } else {
    //         $("#id_prenom").prop('required', true);
    //         $("#id_name").prop('required', true);
    //         $("#id_email").prop('required', true);
    //         $("#id_phone").prop('required', true);
    //         $("#id_code_postal").prop('required', true);
    //         $("#id_pays").prop('required', true);

    //         hideable_shipping_form.show();
    //     }
    // })


</script>

<script>
    $(document).ready(function () {
        $('#emplacement-bateau').hide();
        $("#Livraison-sur-bateau").click(function () {
            $('#emplacement-bateau').show();
            $("#id_zone_delivery").prop('required', true);
            $("#id_rang_delivery").prop('required', true);
            $("#id_numero_delivery").prop('required', true);
        })
        $("#Point-fixe-1").click(function () {
            $('#emplacement-bateau').hide();
            $("#id_zone_delivery").prop('required', false);
            $("#id_rang_delivery").prop('required', false);
            $("#id_numero_delivery").prop('required', false);
        })
        $("#Loueur-de-bateau").click(function () {
            $('#emplacement-bateau').hide();
            $("#id_zone_delivery").prop('required', false);
            $("#id_rang_delivery").prop('required', false);
            $("#id_numero_delivery").prop('required', false);
        })

    })


</script>






{% endblock extra_scripts %}