{% extends "base.html" %}
{% load static %}
{% block head_title %}Contactez-nous{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="header-section-title-container">
        <div class="header-section-title">
            <h1>CONTACTEZ-NOUS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 mb-3 section-left-container centered-content">
            <div class="section-left-text text-center ">
                <img src="{% static '../static/images/telephone.svg' %}" alt="" height=100 class=''>
                <h5>Vous avez une question ? Besoin d'un renseignement ?</h5>
                <div class="contact-info-form ">
                    <div class="contact-row d-flex justify-content-between">
                        <img src="{% static '../static/images/carte.svg' %}" alt="" height=30>
                        <p>Cap Ferret</p>
                    </div>
                    <div class="contact-row d-flex justify-content-between">
                        <img src="{% static '../static/images/telephone.svg' %}" alt="" height=30>
                        <p>01-45-45-45-45</p>
                    </div>
                    <div class="contact-row d-flex justify-content-between">
                        <img src="{% static '../static/images/email-letter.svg' %}" alt="" height=30>
                        <p>Dejeunersurleau@contact.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 mb-3 section-right-container">
            <div class="section-form">
                <h3 class="text-center">Formulaire de contact</h3>
                <form method='POST'>
                    {% csrf_token %}
                    <label class='mt-3' for="email">Email</label>
                    <p>{{ form.from_email }}</p>
                    <small>{{ form.from_email.errors }}</small>
                    <label class='mt-3' for="objet">Objet</label>
                    <p>{{ form.subject }}</p>
                    <small>{{ form.subject.errors }}</small>
                    <label class='mt-3' for="message">Message</label>
                    <p>{{ form.message }}</p>
                    <small>{{ form.message.errors }}</small>
                    <input type="submit" name="Envoyer" class="btn-valider">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}