<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>Commande</title>


</head>

<body>
    <div class='container'
        style='background-color: #f5f5f5; box-shadow: 0 0 10 px #8080805c; text-align: center; padding: 20px;'>
        <img src="https://odilesite-bucket.s3.eu-west-3.amazonaws.com/logo-text.svg" alt=""
            style='height:100px; width: 300px;'>
        <h1 style='color: #4A898B;'>Hello</h1>
        <h4>Votre commande a bien été enregistrée !</h4>
        <div class='row'>
            <div class='col-xs-12-md-6'>
                <small>Référence de votre commande : {{ref}}</small>
                <p><strong>Nous vous remercions pour votre commande !</strong> </p>
                <p>Vore commande :</p>

            </div>
            <div class='col-xs-12-md-6'>
                <ul style='list-style: none;'>
                    {% for prod in product  %}
                    <li>{{ prod.quantity }} x {{ prod.product.name }}</li>

                    {% endfor %}
                </ul>
                <p>Montant total de la commande {{ total }}€</p>

            </div>
        </div>
    </div>

</body>

</html>