{% load static %}
<div class=" container-fluid bandereau-qualite-container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="bandereau-card">
                <img src="{% static '../static/images/boatdelivery.svg' %} " alt="" style='height:70px'>
                <p>Livraison gratuite</p>
                <small>Livraison offerte</small>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="bandereau-card">
                <img src="{% static '../static/images/safe.svg' %} " alt="" style='height:70px'>
                <p>Paiement sécurisé</p>
                <small>Paiement 100% sécurisé</small>
                <small>Visa, Mastercard</small>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="bandereau-card">
                <img src="{% static '../static/images/servicleclient.svg' %} " alt="" style='height:60px'>
                <p>Service client</p>
                <small>Une question ? Besoin d'un conseil ?</small> <br>

                <small><a href="tel:0145454545">0145454545</a> ou par <a href="{% url 'contact' %}">mail</a></small>
            </div>
        </div>
    </div>
</div>
<div class="footer-container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="footer-col">
                <h3>Navigation</h3>
                <p><a href="{% url 'home' %}">Page d'accueil</a></p>
                <p><a href="{% url 'avis' %}">Donner nous votre avis</a></p>
                <p><a href="{% url 'products' %}">Menu déjeuner</a></p>
                <p><a href="{% url 'products-apero' %}">Menu apéro</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="footer-col">
                <h3>Informations</h3>
                <p><a href=" {% url 'mentions' %}">Mentions légales</a></p>
                <p><a href=" {% url 'cgv' %} ">Conditions générales de vente</a></p>
                <p><a href="{% url 'admin:index' %}">Admin</a></p>
                {% if user.is_superuser %}<p><a href="{% url 'order' %}">Tableau de bord - Admin</a></p>{% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="footer-col">
                <h3>Contactez-nous</h3>
                <p>Déjeuner sur l'eau</p>
                <p><a href="tel:0145444444">0145454545</a></p>
                <p><a href="mailto:contact@dejeunersurleau.com ">contact@déjeunersurleau.com</a></p>
                <p><a href="{% url 'contact' %}">Formulaire de contact</a></p>

            </div>
        </div>
    </div>
</div>

<div class="footer-credit">
    <h4>Copyright © 2020 Dejeuner sur l'eau - Tous droits réservés</h4>
    <h4>Designed & developed by Crnn</h4>
</div>