{% load static %}
<div class="footer-container">

    <div class="footer-nav">
        <h3>Navigation</h3>
        <p>À propos</p>
        <p>Livraison</p>
        <p><a href="">Menu déjeuner</a></p>
        <p><a href="">Menu apéro</a></p>
    </div>
    <div class="footer-information">
        <h3>Informations</h3>
        <p><a href=" {% url 'mentions' %}">Mentions légales</a></p>
        <p><a href=" {% url 'cgv' %} ">Conditions générales de vente</a></p>
        <p><a href="{% url 'admin:index' %}">Admin</a></p>
    </div>
    <div class="footer-contact">
        <h3>Contactez-nous</h3>
        <p>Déjeuner sur l'eau</p>
        <p><a href="tel:0145444444">0145454545</a></p>
        <p><a href="mailto:contact@dejeunersurleau.com ">contact@déjeunersurleau.com</a></p>
        <p><a href="{% url 'contact' %}">Formulaire de contact</a></p>

    </div>

</div>

<div class="footer-credit">
    <h4> Copyright Dejeuner sur l'eau - Designed & developed by Crnn</h4>
</div>