{% extends "base.html" %}
{% load static %}
{% block title %}HomePage{% endblock title %}

{% block content %}
<div class="home-banner">

    <div class="home-banner-text">

        <h1>Déjeuner sur l'eau</h1>
        <h5>Vous partez en mer pour la journée ? On s'occupe de vous livrer votre repas</h5>
        <a class="text-center mt-2" href="{% url 'products' %}"> <span><img
                    src="{% static '../static/images/menu-icon.svg' %}" alt=""
                    style='height: 30px; color: white;'></span> VOIR LA
            CARTE</a>


    </div>
</div>
<div class="container">


    <div class=" js-anchor-link home-container home-container-concept">
        <h1 id="concept" data-aos="fade-left" data-aos-offset="0" data-aos-delay="5000" data-aos-duration="2000"
            data-aos-easing="ease-in-out" data-aos-once="true" class="text-center">Notre Concept</h1>
        <div class="row">
            <div class="col-xs-12 col-md-5 ">
                <div class="concept-img-container">

                </div>
            </div>
            <div class="col-xs-12 col-md-7 dotted" data-aos="fade-up" data-aos-offset="0" data-aos-delay="5000"
                data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
                <div class=" ">
                    <p>Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie
                        d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas
                        une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez
                        être sûr qu'il n'y a rien d'embarrassant caché dans le texte. Tous les générateurs de Lorem
                        Ipsum sur Internet tendent à reproduire le même extrait sans fin, ce qui fait de lipsum.com le
                        seul vrai générateur de Lorem Ipsum. Iil utilise un dictionnaire de plus de 200 mots latins, en
                        combinaison d</p>
                </div>
            </div>
        </div>
    </div>
    <div id="livraison" class="js-anchor-link home-container home-container-livraison">
        <h1 data-aos="fade-right" data-aos-offset="0" data-aos-delay="5000" data-aos-duration="2000"
            data-aos-easing="ease-in-out" data-aos-once="true" class="text-center">Livraison</h1>
        <div class="row">
            <div class="col-xs-12 col-md-6 dotted-right" data-aos="fade-up" data-aos-offset="0" data-aos-delay="5000"
                data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
                <div class="livraison-text">
                    <p>Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie
                        d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas
                        une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez
                        être sûr qu'il n'y a rien d'embarrassant caché dans le texte. Tous les générateurs de Lorem
                        Ipsum sur Internet tendent à reproduire le même extrait sans fin, ce qui fait de lipsum.com le
                        seul vrai générateur de Lorem Ipsum. Iil utilise un dictionnaire de plus de 200 mots latins, en
                        combinaison de plusieurs structures de phrases, pour générer un Lorem Ipsum irréprochable. Le
                        Lorem Ipsum ainsi obtenu ne contient aucune répétition, ni ne contient des mots farfelus, ou des
                        touches d'humour.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="concept-img-container">

                </div>
            </div>
        </div>
    </div>


    <div class="home-container home-container-produits">
        <h1 data-aos="fade-left" data-aos-offset="0" data-aos-delay="5000" data-aos-duration="2000"
            data-aos-easing="ease-in-out" data-aos-once="true" class="text-center">Nos Produits</h1>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="produits-img-container">

                </div>
            </div>
            <div class="col-xs-12 col-md-7 dotted " data-aos="fade-up" data-aos-offset="0" data-aos-delay="5000"
                data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
                <div class="produit-text">
                    <p>Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie
                        d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas
                        une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez
                        être sûr qu'il n'y a rien d'embarrassant caché dans le texte. Tous les générateurs de Lorem
                        Ipsum sur Internet tendent à reproduire le même extrait sans fin, ce qui fait de lipsum.com le
                        seul vrai générateur de Lorem Ipsum. Iil utilise un dictionnaire de plus de 200 mots latins, en
                        combinaison de plusieurs structures de phrases, pour générer un Lorem Ipsum irréprochable. Le
                        Lorem Ipsum ainsi obtenu ne contient aucune répétition, ni ne contient des mots farfelus, ou des
                        touches d'humour.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("#slider2").responsiveSlides({
            auto: true,
            pager: false,
            nav: false,
            speed: 2000,
            timeout: 5000,
            namespace: "transparent-btns"
        });
    });
</script>
<script>
    AOS.init();
</script>
{% endblock content %}