{% extends "base.html" %}
{% load static %}
{% block title %}HomePage{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="home-banner-title">
                <h1>Déjeuner sur l'eau</h1>
                <h4>Vous partez en mer pour la journée? On s'occupe de vous livrer un panier repas</h4>


                <!-- Button trigger modal -->
                <button type="button" class="btn-valider" data-toggle="modal" data-target="#exampleModalCenter">
                    COMMANDER
                </button>

                <!-- Modal -->
                <div class="modal fade menu-choice-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content no-border">
                            <div class="modal-header menu-choices-header">
                                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Choississez le moment de la journée
                                </h5> -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body menu-choices-container">
                                <a href="{% url 'products' %}">MENU DÉJEUNER</a>
                                <a href=" {% url 'products-apero' %}">MENU APERO</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="home-banner">

            </div>
        </div>
    </div>

    <div class="concept-container" id='concept'>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h1>01 - Concept</h1>

                <p>Service de livraison de panier repas au Cap-ferret. Service
                    destiné aux plaisanciers partant pour une journée en
                    mer.</p>
                <p>Vous souhaitez partir en mer pour la journée, on se charge de vous
                    livrer votre panier repas avant votre départ ou directement sur
                    votre bateau.
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>Choississez votre menu parmi notre choix de produits frais</p>
                <p>Déterminez vos préférences de livraisons. On se charge du reste</p>
            </div>
        </div>
    </div>

    <div class="livraison-container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div id='map' style='width: 100%; height: 340px;'></div>
            </div>

            <div class="col-xs-12 col-md-4">
                <h1>02 - Livraison</h1>

                <p>Service du midi :

                    2 points fixes : Loueurs de bateau
                    et point fixe école de voile
                    10H- 12H

                    Livraison sur bateau: Zone 4 à 7
                    heure de livraison
                    10H - 12h</p>

                <hr>
                <p>Service apéro :

                    Corps mort : Point fixe
                    17h-18H</p>
            </div>
        </div>
    </div>
    {% include 'bandereau-qualite-snippet.html' %}

</div>


<!-- <script>
    $(function () {
        $("#slider2").responsiveSlides({
            auto: true,
            pager: false,
            nav: false,
            speed: 2000,
            timeout: 5000,
            namespace: "transparent-btns"
        });
    });
</script> -->
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoib2RpbGVsZWNsZXJjc2l0ZSIsImEiOiJjazZjMDJtNGEwZ3F2M2tvdnNncnkxNXRxIn0.c7i8XUNby5CQwhdrsG3r0A';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
</script>
{% endblock content %}