{% extends "base.html" %}
{% load static %}
{% block head_title %}Déjeuner sur l'eau{% endblock head_title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 order-2 col-md-4">
            <div class="section-banner-home-title">
                <h1>DÉJEUNER SUR L'EAU</h1>
                <h4>Vous partez en mer pour la journée? <br>
                    On s'occupe de vous livrer un panier repas</h4>
                <button type="button" class="btn-valider" data-toggle="modal" data-target="#menu-choices">
                    VOIR LE MENU
                </button>

                <!-- Modal -->
                <div class="modal fade modal-bg-white" id="menu-choices" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content no-border">
                            <div class="modal-header menu-choices-header">
                                <button class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body menu-choices-container">
                                <a href="{% url 'products' %}">MENU DÉJEUNER</a>
                                <a href=" {% url 'products-apero' %}">MENU APERO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 order-1 col-md-8">
            <div class="section-banner-home-img">
                <ul class="rslides">
                    <li><img src="../static/images/banner-bateau.jpg" alt=""></li>
                    <li><img src="../static/images/banner-bateau-2.jpg" alt=""></li>
                    <li><img src="../static/images/banner-bateau-3.jpg" alt=""></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="section-presentation-container" id='concept' class='js-anchor-link'>
        <h1>01 - Concept</h1>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="section-presentation-concept">
                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                        impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                        quand
                        un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de
                        polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la
                        bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les
                    </p>
                </div>

            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <img src="{% static '../static/images/logo-bateau.svg' %}" alt="" id='logo-home'> <br>
                <img src="{% static '../static/images/logo-text.svg' %}" alt="" id='logo-home-text'>
            </div>
        </div>
    </div>

    <div class="section-presentation-container" id="livraison">

        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div id='map' style='width: 100%; height: 340px;'></div>
            </div>

            <div class="col-xs-12 col-md-4">
                <h1>02 - Livraison</h1>
                <div class="section-description-livraison">
                    <p><img src=" {% static '../static/images/marker.svg' %} " alt="" style='height: 30px'>MENU DEJEUNER
                        :</p>
                    <p>Tous les jours de 10h à 12H</p>
                    <hr>
                    <p><img src=" {% static '../static/images/marker-apero.svg' %} " alt="" style='height: 30px'>MENU
                        APERO
                    </p>
                    <p>Tous les jours de 17h30 à 18H00
                    </p>

                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}

{% block extra_scripts %}
<script src="../static/js/responsiveslides.js"></script>
<script>
    $(function () {
        $(".rslides").responsiveSlides({
            pager: false,
            timeout: 3000,
            speed: 800
        }
        );
    });
</script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoib2RpbGVsZWNsZXJjc2l0ZSIsImEiOiJjazZjMDJtNGEwZ3F2M2tvdnNncnkxNXRxIn0.c7i8XUNby5CQwhdrsG3r0A';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-1.249550, 44.651470], //longitude, latitude
        zoom: 11,
    });


    var geojson = {
        type: 'FeatureCollection',
        features: [{
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [-1.249812, 44.6308885]
            },
            properties: {
                title: 'Point fixe',
                description: 'Ecole de voile'
            }
        },
        {
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [-1.2488579750061035, 44.64594650268555]
            },
            properties: {
                title: 'Loueur de bateau',
                description: 'Prise des commandes au port'
            }
        }]
    };

    var geojson_apero = {
        type: 'FeatureCollection',
        features: [{
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [-1.259812, 44.6308885]
            },
            properties: {
                title: 'Apero',
                description: 'Corps mort 34'
            }
        }]
    };


    // add markers to map
    geojson.features.forEach(function (marker) {

        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
            .addTo(map);
    });
    geojson_apero.features.forEach(function (marker) {

        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker-apero';

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
            .addTo(map);
    });
</script>


{% endblock extra_scripts %}