{% extends 'base.html' %}
{% load static %}
{% block title %}
Livraison
{% endblock title %}
{% block extra_head %}
<link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block content %}
<div class="container">
    <div class="header-section-title-container">
        <div class="header-section-title">
            <h1>LIVRAISON </h1>
            <p>Informations générales</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-5">
            <div class="section-text-livraison">
                <div class="section-dejeuner">
                    <h3>Service du déjeuner <span><img src="{% static '../static/images/marker.svg' %}" alt=""
                                style='height: 30px;'></span></h3>
                    <hr class="hr-text">
                    <h6>Livraison sur bateau (zone en vert)</h6>
                    <p>Une grande zone de mouillages est susceptible d’être livrée (Zones 4 à 7). Vous pouvez vous
                        référer au tableau ci-dessous pour connaitre votre plage horaire de livraison.</p>
                    <p> Si votre zone de mouillage n’est pas desservi, retrouver notre bateau « Déjeuner sur
                        l’eau » devant La Plage des américains de 12H à 12H30.</p>
                    <table class="creneau-delivery mb-3 mt-3">

                        <thead>
                            <tr>
                                <th class="creneau-delivery">&nbsp;</th>
                                <th colspan=2 class="creneau-delivery text-center">Livraison sur bateau</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="creneau-delivery">Zone 4</td>
                                <td class="creneau-delivery">Entre 10h30 et 11h00</td>
                                <td class="creneau-delivery">Entre 11H30 et 12h00</td>

                            </tr>
                            <tr>
                                <td class="creneau-delivery">Zone 5a</td>
                                <td class="creneau-delivery">Entre 10h00 et 10h30</td>
                                <td class="creneau-delivery">Entre 11H00 et 11h30</td>
                            </tr>
                            <tr>
                                <td class="creneau-delivery">Zone 5b</td>
                                <td class="creneau-delivery">Entre 10h30 et 11h00</td>
                                <td class="creneau-delivery">Entre 11H30 et 12h00</td>
                            </tr>
                            <tr>
                                <td class="creneau-delivery">Zone 6</td>
                                <td class="creneau-delivery">Entre 10h00 et 10h30</td>
                                <td class="creneau-delivery">Entre 11H00 et 11h30</td>
                            </tr>
                            <tr>
                                <td class="creneau-delivery">Zone 7</td>
                                <td class="creneau-delivery">Entre 10h00 et 10h30</td>
                                <td class="creneau-delivery">Entre 11H00 et 11h30</td>
                            </tr>

                        </tbody>

                    </table>

                    <h6>Si vous loué un bateau</h6>
                    <p>Si vous louez un bateau au port de La Vigne votre pique-nique peut vous être livré
                        lors de la réception de votre bateau à 10H. Il faudra précisez le nom du loueur :
                        Ferrat Marine, Sensey Nautic et Bat marine.</p>
                    <h6 class='mt-3'>Livraison à la plage</h6>
                    <p>Si vous partez à la plage vous pouvez venir chercher votre panier entre 10H30 et 11H
                        sur le parking face au club de voile du Ferret</p>
                    <h6 class='mt-3'>Autre</h6>
                    <p>Il n’y a pas de livraison à domicile mais pour toute demande particulière contactez-
                        nous.</p>
                    <div class="text-center mt-4">
                        <a href="{% url 'products' %}" class='btn-valider'>Commander</a>
                    </div>
                </div>
                <div class="section-apero mt-3">
                    <hr class="hr-text">
                    <h3>Service de l'apero<span><img src="{% static '../static/images/marker-apero.svg' %}" alt=""
                                style='height: 30px;'></span></h3>
                    <hr class="hr-text">
                    <h6>Livraison Bateau</h6>
                    <p>Pour l’apéritif, retrouvez notre bateau avec votre commande à son corps mort … de
                        17H à 18H (bouton localisation carte).</p>
                    <div class="text-center mt-4">
                        <a href="{% url 'products-apero' %}" class='btn-valider'>Commander</a>

                    </div>
                </div>


            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            <div id="map-livraison" style='width: 100%; height: 500px;position: sticky; position: -webkit-sticky;
            top: 100px; box-shadow: 0px 0px 10px #8080805c;
                border-radius: 15px;'></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
<script src="../static/js/mapAll.js">
</script>
{% endblock extra_scripts %}