{% extends "base.html" %}
{% block head_title %}Mentions légales{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="header-section-title-container">
        <div class="header-section-title">
            <h1>MENTIONS LÉGALES</h1>
        </div>
    </div>
    <div class="mentions-contenu">
        <h1>Déjeuner sur l'eau</h1>
        <p>Personne physique</p>
        <p>Nom et Prénom</p>
        <p>adresse email</p>
        <p>Téléphone</p>
        <p>Adresse postale</p>
        <br>

        <h1>Coordonnées de l'hébergeur</h1>
        <p>Nom</p>
        <p>Dénomination ou raison sociale</p>
        <p>Adresse</p>
        <p>tel</p>
        <br>
        <h1>Collecte des données</h1>
        <p>Collecte des données CNIL</p>
        <p>Expliquer quelles sont les données collectés et dans quel but</p>
        <p>Mentionner le numéro de déclaration simpligié faite auiprès de la CNIL</p>
        <p>Offrir la possibilités de faire une demande des infomations collectés à l'adresse suivante:
            contact@dejeunersurleau.com</p>

    </div>

</div>
{% endblock content %}