{% load cart_template_tags %}
{% load static %}
<div class="nav-container">
    <div class="nav-logo">
        <a href="{% url 'home' %}">
            <img src="{% static '../static/images/logo-dej.svg' %}" alt="" style='height: 50px;'>
        </a>
    </div>
    <div class="nav-link">
        <ul>
            <li><a href="{% url 'products' %}">Produits</a> </li>
            <li>About</li>
            <li><a href="{% url 'order-summary' %}"> {{ request.user|cart_product_count }}
                    Panier</a></li>
        </ul>
    </div>
    <div class="nav-log">
        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Se déconnecter</a>
        {% else %}
        <a href="{% url 'account_login' %} ">Se connecter</a>
        <a href="{% url 'account_signup' %}">S'inscrire</a>
        {% endif %}
    </div>
</div>