{% extends "base.html" %}

{% block content  %}
<div class="container">
    <div class="product-image-banner">
        <div class="product-text-banner">
            <h1>VOTRE PANIER - DEJEUNER</h1>

        </div>
    </div>



    <div class="table-responsive panier-cart">

        <table class="table">
            <thead class="cart-row-1">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Repas</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix Total</th>

                </tr>
            </thead>
            <tbody>
                {% for order_product in  order_dejeuner.products.all %}
                <tr data-x='{{order_product.product.slug}}'>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order_product.product.name }} </td>
                    <td>{{ order_product.product.price }} </td>
                    <td>


                        <a style='color: #165361;'
                            href="{% url 'remove-single-product-from-cart' order_product.product.slug %}"
                            id={{order_product.product.slug}}>
                            <i class="fas fa-minus mr-2"></i></a>



                        <span data-id="{{ order_product.product.slug}}">{{ order_product.quantity }}</span>
                        <a style='color: #165361;' href="{% url 'add-single-item-to-cart' order_product.product.slug %}"
                            id={{order_product.product.slug}}>
                            <i class="fas fa-plus ml-2"></i></a>
                    </td>
                    <td><span
                            data-total={{order_product.product.slug}}>{{ order_product.get_total_product_price}}</span>€
                        <a style='color: #165361;' href="{% url 'remove-from-cart' order_product.product.slug %}"
                            class="removeItem" id={{order_product.product.slug}}>
                            <i class="fas fa-trash float-right"></i>
                        </a></td>

                </tr>

                {% empty %}
                <tr>
                    <td colspan='5'>Votre panier est vide</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a class='btn-annuler float-right' href="{% url 'products'%}">Voir le menu</a>
                    </td>
                </tr>
                {% endfor %}

                {% if order_dejeuner.coupon %}
                <tr>
                    <td colspan="4">Coupon</td>
                    <td> - {{ order_dejeuner.coupon.amount}}€</td>
                </tr>
                {% endif %}

                {% if order_dejeuner.get_total %}


                <tr>
                    <th scope='row'></th>
                    <td></td>
                    <td></td>
                    <td colspan="" class="">Sous-total</td>
                    <td class='js-get-total'>{{ order_dejeuner.get_total}}€</td>
                </tr>
                <tr>
                    <th scope='row'></th>
                    <td></td>
                    <td></td>
                    <td colspan="" class="">Frais de livraison</td>
                    <td>Gratuit</td>
                </tr>
                <tr>
                    <th scope='row'></th>
                    <td></td>
                    <td></td>
                    <td colspan="" class="">Total</td>
                    <td class='js-get-total'>{{ order_dejeuner.get_total}}€</td>
                </tr>







                {% endif %}
            </tbody>
        </table>

        <a class='btn-valider float-right ml-2' href='/checkout/'>Commander</a>

        <a class='btn-annuler float-right' href="{% url 'products'%}">Ajoutez d'autres produits</a>
    </div>

    <h3>Recommandation pour votre départ en mer</h3>
    <div class="row">
        {% for object in products  %}

        <div class="col-xs-6 col-md-3 mb-3">
            <a class="btn-product-description" data-toggle="modal" data-target="#Modal{{object.id}}">
                <div class="carte all {{ object.category}}">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="product-card-text">
                                <h5>{{ object.name }} </h5>
                                <p> {{ object.description|truncatewords:6 }}</p>
                                <span class="price">{{ object.price }}€</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-card">

                                {% if object.image %}
                                <div class="product-card-image"
                                    style="background-image: url('{{ object.image.url }}');">

                                </div>
                                {% endif %}


                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade modal-bg-white" id="Modal{{ object.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content product-card-modal">
                    <div class="text-center modal-titre">
                        <h5 class="modal-title " id="exampleModalLabel">{{ object.name|upper}} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body product-card-text-modal">
                        {% if object.image %}
                        <div class="product-card-image-modal" style="background-image: url('{{ object.image.url }}');">

                        </div>

                        {% endif %}

                        <div class="product-card-info-modal">

                            <h4>Ingrédients : </h4>
                            <h6>{{ object.description|safe }}</h6>
                            {% if object.allergene is not None %}
                            <p>Allergène : {{ object.allergene }}</p>
                            {% else %}
                            <p>Ce produit ne contient pas d'allergène alimentaire.</p>
                            {% endif %}
                        </div>
                        <form method="POST" action="{{ object.get_add_to_cart_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}




                    </div>
                    <div class="modal-footer modal-btn">
                        <a class='btn-annuler' data-dismiss="modal">
                            Annuler
                        </a>
                        {% if request.user.is_authenticated %}
                        <!-- <a class='btn-valider' type='submit' href="{{ object.get_add_to_cart_url }}">Ajouter au panier
                            <span>(+{{ object.price }}€)</span></a> -->
                        <input type="submit" value='Add to cart' class='btn-valider'>
                        {% else %}
                        <a class='btn-connexion' href="{% url 'account_login' %} ">Connexion</a>
                        {% endif %}
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% block extra_scripts %}
<script>
    $('td').on("click", 'a', function (e) {
        e.preventDefault();
        var target = $(this).attr('id');
        // alert(target);
        var urlAjax = $(this).attr('href');


        $.ajax({
            type: 'POST',
            url: urlAjax,
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post',

            },
            success: function (json) {
                console.log(json.quantity);
                $('[data-id=' + target + ']').text(json.quantity);
                console.log($('[data-total=' + target + ']').text(json.total));
                $('.js-get-total').text(json.get_total + '€');

                if (parseInt($('[data-total=' + target + ']').text()) == 0) {
                    $('tr[data-x=' + target + ']').remove();
                }
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
</script>
{% endblock extra_scripts %}
{% endblock content  %}