{% extends "base.html" %}
{% block head_title %}Tableau des commandes{% endblock head_title %}
{% load tz %}

{% block content %}

<div class="container">

    <div class="header-section-title-container">
        <div class="header-section-title">
            <h1>TABLEAU DE BORD</h1>
            <p>Tableau des commandes réservé à l'administrateur</p>
            <p>{{ today|date:'d/m/Y H:i' }}</p>
        </div>
    </div>

    <!-- Button filter section order -->
    <div class="row border-green">
        <div class="col-xs-12 col-md-4">
            <div class="filter-card-order centered-content all-order pointer">
                <h2>TOUTES LES COMMANDES</h2>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="filter-card-order centered-content dej-order pointer">
                <h2>COMMANDES DÉJEUNER</h2>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="filter-card-order centered-content apero-order pointer">
                <h2>COMMANDES APERO</h2>
            </div>
        </div>

    </div> <!--  End Button filter section order -->

    <!-- Section orders all -->
    <div class="order-card-all">


        <div class="header-order">
            <h3>AUJOURD'HUI {% if orders_all_today %} ({{orders_all_today.count}}) {% endif %}</h3>

        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Référence commande</th>
                        <th scope='col'>Type de commande</th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Mode de livraison</th>
                        <th scope="col">Produits</th>
                    </tr>
                </thead>

                {% for order in orders_all_today%}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.type_of_order }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y H:i'}}</td>
                        <td>{{order.delivery_option}}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.sandwich %}{{ orderitem.sandwich }}{% endif %}</li>
                                <li>{% if orderitem.boisson %}{{ orderitem.boisson }}{% endif %}</li>
                                <li>{% if orderitem.dessert %}{{ orderitem.dessert }}{% endif %}</li>

                            </ul>
                            {% endfor %}

                        </td>
                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan='5' style='text-align: center'>Vous n'avez pas de commande pour aujourd'hui
                        </td>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="header-order">
            <h3>DEMAIN {% if orders_all_tomorrow %} ({{orders_all_tomorrow.count}}) {% endif %}</h3>

        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Référence commande</th>
                        <th scope='col'>Type de commande</th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Mode de livraison</th>
                        <th scope="col">Produits</th>
                    </tr>
                </thead>
                {% for order in orders_all_tomorrow %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.type_of_order }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y H:i' }}</td>
                        <td>{{order.delivery_option}}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.sandwich %}{{ orderitem.sandwich }}{% endif %}</li>
                                <li>{% if orderitem.boisson %}{{ orderitem.boisson }}{% endif %}</li>
                                <li>{% if orderitem.dessert %}{{ orderitem.dessert }}{% endif %}</li>

                            </ul>
                            {% endfor %}

                        </td>
                    </tr>



                    {% empty %}
                    <tr>
                        <td colspan='5' style='text-align: center'>Vous n'avez pas de commande pour demain
                        </td>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="header-order">
            <h3>COMMANDE {{orders_all.count|pluralize:'S'}} {% if orders_all %}({{ orders_all.count }}) {% endif %}</h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">Référence commande</th>
                        <th scope='col'>Type de commande</th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Type de livraison</th>
                        <th scope="col">Produits</th>

                    </tr>
                </thead>
                {% for order in orders_all %}
                <tbody>
                    <tr data-id='{{ order.ref_code }}'>

                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.type_of_order }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y H:i' }}</td>
                        <td>{{order.type_of_order}}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.sandwich %}{{ orderitem.sandwich }}{% endif %}</li>
                                <li>{% if orderitem.boisson %}{{ orderitem.boisson }}{% endif %}</li>
                                <li>{% if orderitem.dessert %}{{ orderitem.dessert }}{% endif %}</li>

                            </ul>
                            {% endfor %}

                        </td>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>
    </div> <!--  End Section orders all -->

    <!-- Section Commande Déjeuner -->
    <div class="dejeuner-card-all">


        <div class="header-order">
            <h3>DÉJEUNER - AUJOURD'HUI {% if orders_dej_today %} ({{orders_dej_today.count}}) {% endif %}</h3>

        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">Référence commande</th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Mode de livraison</th>
                        <th scope="col">Produits</th>
                        <th scope="col">Préparé</th>
                    </tr>
                </thead>

                {% for order in orders_dej_today%}
                <tbody>
                    <tr data-id='{{ order.ref_code }}'>

                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y H:i'}}</td>
                        <td>{{order.delivery_option}}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.sandwich %}{{ orderitem.sandwich }}{% endif %}</li>
                                <li>{% if orderitem.boisson %}{{ orderitem.boisson }}{% endif %}</li>
                                <li>{% if orderitem.dessert %}{{ orderitem.dessert }}{% endif %}</li>

                            </ul>
                            {% endfor %}
                        </td>
                        <form method="POST" action="{{ order.get_is_delivered_url }}" id='{{ order.ref_code }}'>
                            {% csrf_token %}
                            <td>
                                {{form.is_delivered}}
                                <input type="submit" value="Fini" class='btn-delivered'>

                            </td>
                        </form>
                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan='5' style='text-align: center'>Vous n'avez pas de commande pour aujourd'hui
                        </td>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>


        <div class="header-order">
            <h3>DÉJEUNER - DEMAIN {% if orders_dej_tomorrow %} ({{orders_dej_tomorrow.count}}) {% endif %}</h3>

        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">Référence commande</th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Mode de livraison</th>
                        <th scope="col">Produits</th>
                        <th scope="col">Préparé</th>
                    </tr>
                </thead>
                {% for order in orders_dej_tomorrow %}
                <tbody>
                    <tr data-id='{{ order.ref_code }}'>

                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y H:i' }}</td>
                        <td>{{order.delivery_option}}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.sandwich %}{{ orderitem.sandwich }}{% endif %}</li>
                                <li>{% if orderitem.boisson %}{{ orderitem.boisson }}{% endif %}</li>
                                <li>{% if orderitem.dessert %}{{ orderitem.dessert }}{% endif %}</li>

                            </ul>
                            {% endfor %}

                        </td>
                        <form method="POST" action="{{ order.get_is_delivered_url }}" id='{{ order.ref_code }}'>
                            {% csrf_token %}
                            <td>
                                {{form.is_delivered}}
                                <input type="submit" value="Fini" class='btn-delivered'>

                            </td>
                        </form>
                    </tr>



                    {% empty %}
                    <tr>
                        <td colspan='5' style='text-align: center'>Vous n'avez pas de commande pour demain
                        </td>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>



        <div class="header-order">
            <h3>DÉJEUNER {% if orders_dej %}({{ orders_dej.count }}) {% endif %}</h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">Référence commande</th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Mode de livraison</th>
                        <th scope="col">Produits</th>

                    </tr>
                </thead>
                {% for order in orders_dej %}
                <tbody>
                    <tr data-id='{{ order.ref_code }}'>

                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y' }}</td>
                        <td>{{order.delivery_option}}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.sandwich %}{{ orderitem.sandwich }}{% endif %}</li>
                                <li>{% if orderitem.boisson %}{{ orderitem.boisson }}{% endif %}</li>
                                <li>{% if orderitem.dessert %}{{ orderitem.dessert }}{% endif %}</li>

                            </ul>
                            {% endfor %}

                        </td>

                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>

    </div> <!-- END Section Commande Déjeuner -->

    <!-- Section Commande Apero -->
    <div class="apero-card-all">

        <div class="header-order">
            <h3>APERO - AUJOURD'HUI {% if orders_apero_today %} ({{orders_apero_today.count}}) {% endif %}</h3>

        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Référence commande</th>
                        <th scope="col">Date de livraison</th>

                        <th scope="col">Produits</th>
                        <th scope="col">Préparé</th>
                    </tr>
                </thead>

                {% for order in orders_apero_today %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y H:i'}}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.alcool %}{{ orderitem.alcool }}{% endif %}</li>
                            </ul>
                            {% endfor %}

                        </td>
                        <form method="POST" action="{{ order.get_is_delivered_url }}" id='{{ order.ref_code }}'>
                            {% csrf_token %}
                            <td>
                                {{form.is_delivered}}
                                <input type="submit" value="Fini" class='btn-delivered'>

                            </td>
                        </form>
                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan='5' style='text-align: center'>Vous n'avez pas de commande pour aujourd'hui
                        </td>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="header-order">
            <h3>APERO - DEMAIN {% if orders_apero_tomorrow %}({{orders_apero_tomorrow.count}}) {% endif %}</h3>

        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Référence commande</th>
                        <th scope="col">Date de livraison</th>

                        <th scope="col">Produits</th>
                        <th scope="col">Préparé</th>
                    </tr>
                </thead>
                {% for order in orders_apero_tomorrow %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y H:i' }}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.alcool %}{{ orderitem.alcool }}{% endif %}</li>
                            </ul>
                            {% endfor %}

                        </td>
                        <form method="POST" action="{{ order.get_is_delivered_url }}" id='{{ order.ref_code }}'>
                            {% csrf_token %}
                            <td>
                                {{form.is_delivered}}
                                <input type="submit" value="Fini" class='btn-delivered'>

                            </td>
                        </form>
                    </tr>



                    {% empty %}
                    <tr>
                        <td colspan='4' style='text-align: center'>Vous n'avez pas de commande pour demain
                        </td>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="header-order">
            <h3>APERO {% if orders_apero %} ({{orders_apero.count }}) {% endif %}</h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Référence commande</th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Produits</th>
                    </tr>
                </thead>
                {% for order in orders_apero %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order.ref_code }}</td>
                        <td>{{ order.date_de_livraison|date:'d/m/Y H:i'}}</td>
                        <td>{% for orderitem in order.products.all  %}
                            <p>{{ orderitem }}</p>
                            <ul>
                                <li>{% if orderitem.alcool %}{{ orderitem.alcool }}{% endif %}</li>
                            </ul>
                            {% endfor %}

                        </td>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>

    </div><!-- Section Commande Apero -->

</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    $(document).ready(function () {
        $('.apero-card-all').hide();
        $('.dejeuner-card-all').hide();
        $('.all-order').addClass('active-gray ');
        $('.dej-order').on('click', function () {
            $('.dejeuner-card-all').show();
            $('.apero-card-all').hide();
            $('.order-card-all').hide();
            $('.dej-order').addClass('active-gray ');
            $('.apero-order').removeClass('active-gray ');
            $('.all-order').removeClass('active-gray ');
        });

        $('.apero-order').on('click', function () {
            $('.dejeuner-card-all').hide();
            $('.order-card-all').hide();
            $('.apero-card-all').show();


            $('.apero-order').addClass('active-gray ');
            $('.dej-order').removeClass('active-gray ');
            $('.all-order').removeClass('active-gray ');
        });
        $('.all-order').on('click', function () {
            $('.order-card-all').show();
            $('.dejeuner-card-all').hide();
            $('.apero-card-all').hide();
            $('.all-order').addClass('active-gray ');
            $('.apero-order').removeClass('active-gray ');
            $('.dej-order').removeClass('active-gray ');
        });
    });
</script>

<script>
    // AJAX CALL TO ADD TO CART ---------------------------------------------
    $('table').on("submit", 'form', function (e) {
        e.preventDefault();
        var target = $(this).attr('id');

        var urlAjax = $(this).attr('action');
        console.log(urlAjax);
        $.ajax({
            type: 'POST',
            url: urlAjax,
            data: {
                is_delivered: true,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post',
            },
            success: function (json) {
                console.log('it_works')
                $('tr[data-id=' + target + ']').remove();
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
</script>

{% endblock extra_scripts %}