{% extends "base.html" %}
{% load static %}
{% block head_title %}Menu Apéro - Produits{% endblock head_title %}
{% block popup %}
<div id="add-popup-product">
    <h1> <i class="far fa-check-circle"></i> Le produit vient d'être ajouté au panier</h1>
</div>
{% endblock popup %}
{% block content %}
<div class="container relative">
    <!-- BOUTTON PANIER VERSION MOBILE & TABLETTE -->
    <div class="cart-mobile d-block d-sm-none">
        <div class="cart-position">
            <p>{{ order.get_quantity}}</p>
            <a href="{% url 'order-summary-apero' %}"><img src="{% static '../static/images/panier.svg' %}" alt=""
                    style="height: 40px;"></a>
        </div>
    </div>
    <!-- FIN BOUTTON PANIER VERSION MOBILE & TABLETTE -->
    <!-- HEADER MENU APERO-->
    <div class="header-section-title-container">
        <div class="header-section-title">
            <h1>À LA CARTE</h1>
            <p>Menu apéro</p>
            <p>Livraison de 17h à 18h : Uniquement à notre corps mort</p>

        </div>
    </div>
    <!-- FIN HEADER MENU APERO-->
    <!-- TEXTE INFORMATIF AU SUJET DE LA LIVRAISON -->
    <div class="row">
        <div class="col-xs-12">
            <div class="info-header">
                <img src="{% static '../static/images/info.svg' %}" height="30" width="30" alt="information">
                <p>Toutes les livraisons pour l'apéro doivent être prises au plus tard la veille à 19h pour le
                    lendemain. Cela nous permet de vous offrir un maximum de fraicheur pour vos repas. <br> Vous pouvez
                    tout aussi passer commande pour une date ultérieure.</p>
            </div>
        </div>
    </div>
    <!-- FIN TEXTE INFORMATIF AU SUJET DE LA LIVRAISON-->
    <div class="row">
        <!-- SECTION FILTRE PRODUIT PAR CATEGORIE -->
        <div class="col-xs-12 col-md-2 d-none d-md-block">
            <div class="filter-product">
                <ul>
                    <li><a href="#1" class="js-anchor-link filter-entrées">Entrées</a></li>
                    <li><a href="#2" class="js-anchor-link filter-plats">Plats</a></li>
                    <li><a href="#3" class="js-anchor-link filter-desserts">Desserts</a></li>
                    <li><a href="#4" class="js-anchor-link filter-boissons">Boissons</a></li>
                    <li><a href="#5" class="js-anchor-link filter-accessoires">Accessoires</a></li>
                </ul>
            </div>
        </div>
        <!-- FIN SECTION FILTRE PRODUIT PAR CATEGORIE -->

        <!-- SECTION PRODUIT APERO PAR CATEGORIE-->
        <div class="col-xs-12 col-md-7">
            <div class="product-item-container">
                <div class="product-item-container">
                    <h1 id="1">Entrées
                    </h1>
                    <div class="row">
                        {% for product in products %}
                        {% if product.category == 'Entrées' %}
                        {% include 'product-modal.html' %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <h1 id="2">Plats</h1>
                    <div class="row">
                        {% for product in products %}
                        {% if product.category == 'Plats' %}
                        {% include 'product-modal.html' %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <h1 id="3">Desserts</h1>
                    <div class="row">
                        {% for product in products %}
                        {% if product.category == 'Desserts' %}
                        {% include 'product-modal.html' %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <h1 id="4">Boissons</h1>
                    <div class="row">
                        {% for product in products %}
                        {% if product.category == 'Boissons' %}
                        {% include 'product-modal.html' %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <h1 id="5">Accessoires</h1>
                    <div class="row">
                        {% for product in products %}
                        {% if product.category == 'Accessoires' %}
                        {% include 'product-modal.html' %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN SECTION PRODUIT APERO PAR CATEGORIE-->

        <!-- PANIER FIXE PAGE PRODUIT APERO -->
        <div class="col-xs-12 col-md-3 d-none d-md-block">
            <div id='stickycart' class="col-md-12 mb-4 mt-5 ">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="cart-header" id='cart-quantity'> Panier - {{ order.get_quantity }}</span>
                </h4>
                <ul id="js-cart-append" class="list-group mb-3 z-depth-1">
                    {% for order_item in order.products.all %}
                    <li class="list-group-item cart-line d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"><span data-quantity-id="{{order_item.id}}">{{ order_item.quantity }}</span>
                                x {{ order_item.product.name}}</h6>
                            <p data-alcool-id="{{order_item.id}}">{{ order_item.alcool }}</p>
                            <p data-huitre-id="{{order_item.id}}">{{ order_item.huitre }}</p>
                        </div>
                        <span class="text-muted"
                            data-total-id='{{order_item.id}}'>{{ order_item.get_total_product_with_variant_price|floatformat }}€</span>
                    </li>
                    {% endfor %}


                    <li class="list-group-item cart-line d-flex justify-content-between">
                        <span>Total (€)</span>
                        <strong id="order-snippet-id">{{ order.get_total|floatformat }}€</strong>
                    </li>

                    <a class='btn-valider float-right mt-2' href="{% url 'order-summary-apero' %}">
                        Voir le panier</a>
                </ul>
            </div>
        </div>
        <!-- FIN PANIER FIXE PAGE PRODUIT APERO -->
    </div>
</div>

{% endblock content %}
{% block extra_scripts %}
<script>

    $(document).ready(function () {

        $("#add-popup-product").hide();
    });

</script>
<script>
    // FILTER CATEGORY LINK SCROLL --------------------------------------
    $(document).ready(function () {
        $('.js-anchor-link').click(function (e) {
            e.preventDefault();
            var target = $($(this).attr('href'));
            if (target.length) {
                var scrollTo = target.offset().top - 90;
                $('body, html').animate({ scrollTop: scrollTo + 'px' }, 1000);
            }
        });
    })
</script>
<script>
    // AJAX CALL TO ADD TO CART ---------------------------------------------
    $('body').on("submit", 'form', function (e) {
        e.preventDefault();
        var target = $(this).attr('id');
        var quantity = $(this).find('select[name="quantity"]').val();
        var alcool = $(this).find('input[name="alcool"]:checked').val();
        var huitre = $(this).find('input[name="huitre"]:checked').val();
        var urlAjax = $(this).attr('action');
        console.log(huitre);

        console.log(urlAjax);
        $.ajax({
            type: 'POST',
            url: urlAjax,
            data: {
                quantity: quantity,
                alcool: alcool,
                huitre: huitre,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post',
            },
            success: function (json) {

                $('.selectpicker').val('1').selectpicker('refresh'); // reset form select
                $('input[type="radio"]').prop('checked', false);
                $('.modal').modal('hide'); // Hide modal
                $("#add-popup-product").show('slow').delay(3000).hide('slow');

                var total = json.total + '€'
                var myvar = '<li class="list-group-item d-flex cart-line justify-content-between lh-condensed">' +
                    '                        <div>' +
                    '                            <h6 class="my-0"><span' +
                    '                                    data-quantity-id=' + json.order_product_id + '>' + json.quantity + '</span>' +
                    '                                x' +
                    '                                ' + json.product_name + ' </h6>' +
                    '' + '<p data-alcool-id= ' + json.order_product_id + '>' + json.alcool + '</p>' + '<p data-huitre-id= ' + json.order_product_id + '>' + json.huitre + '</p>' +
                    '                        </div>' +
                    '                        <span class="text-muted"' +
                    '                            data-total-id=' + json.order_product_id + '>' + json.product_total + '€</span>' +
                    '                    </li>';


                /* Check if product is in the cartif true then update quantity et total else append to cart*/
                if ($('[data-quantity-id=' + json.order_product_id + ']').text() >= 1 && $('[data-alcool-id=' + json.order_product_id + ']').text() == json.alcool || $('[data-quantity-id=' + json.order_product_id + ']').text() >= 1 && $('[data-huitre-id=' + json.order_product_id + ']').text() === json.huitre) {
                    $('[data-quantity-id=' + json.order_product_id + ']').text(json.quantity);
                    $('[data-total-id=' + json.order_product_id + ']').text(json.product_total + '€');
                    $('#order-snippet-id').text(total);
                } else {
                    $('#js-cart-append').prepend(myvar);

                }


                $('#cart-quantity').text('Panier - ' + json.cart_quantity);
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
</script>
{% endblock extra_scripts %}