{% extends "base.html" %}
{% load static %}
{% block title %}Product List{% endblock title %}

{% block content %}

<div class="container">
    <div class="product-image-banner">
        <div class="product-text-banner">
            <h1>À LA CARTE</h1>
            <p>Menu déjeuner</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2">
            <div class="filter-product">
                <ul>
                    <li>Filtrer par :</li>
                    <li><a href="#2" class="js-anchor-link filter-entrées">Entrées</a></li>
                    <li><a href="#3" class="js-anchor-link filter-plats">Plats</a></li>
                    <li><a href="#4" class="js-anchor-link filter-desserts">Desserts</a></li>
                    <li><a href="#5" class="js-anchor-link filter-boissons">Boissons</a></li>
                    <li><a href="#6" class="js-anchor-link filter-accessoires">Accessoires</a></li>
                </ul>
            </div>

        </div>
        <div class="col-xs-12 col-md-7">
            <div class="product-item-container">


                <h1 id="2" class="js-anchor-link">Entrées
                </h1>
                <div class="row">
                    {% for product in products %}
                    {% if product.category == 'Entrées' %}
                    {% include 'product-modal.html' %}
                    {% endif %}

                    {% endfor %}
                </div>
                <h1 id="3" class="js-anchor-link">Plats</h1>
                <div class="row">
                    {% for product in products %}
                    {% if product.category == 'Plats' %}
                    {% include 'product-modal.html' %}
                    {% endif %}

                    {% endfor %}
                </div>
                <h1 id="4" class="js-anchor-link">Desserts
                </h1>
                <div class="row">
                    {% for product in products %}
                    {% if product.category == 'Desserts' %}
                    {% include 'product-modal.html' %}
                    {% endif %}

                    {% endfor %}
                </div>
                <h1 id="5" class="js-anchor-link">Boissons</h1>
                <div class="row">
                    {% for product in products %}
                    {% if product.category == 'Boissons' %}
                    {% include 'product-modal.html' %}
                    {% endif %}

                    {% endfor %}
                </div>
                <h1 id="6" class="js-anchor-link">Accessoires</h1>
                <div class="row">
                    {% for product in products %}
                    {% if product.category == 'Accessoires' %}
                    {% include 'product-modal.html' %}
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div id='stickycart' class="col-md-12 mb-4 mt-5 ">
                {% include 'order-snippet.html' %}
                <a class='btn-valider float-right mt-2' href="{% url 'order-summary-dejeuner' %}">
                    Voir le panier</a>
            </div>
        </div>

    </div>
</div>


{% endblock content %}

{% block extra_scripts %}
<script>
    $(document).ready(function () {
        $('.js-anchor-link').click(function (e) {
            e.preventDefault();
            var target = $($(this).attr('href'));
            if (target.length) {
                var scrollTo = target.offset().top;
                $('body, html').animate({ scrollTop: scrollTo + 'px' }, 1000);
            }
        });

    })
</script>
{% endblock extra_scripts %}