<!-- PRODUCT CARD  -->
{% load static %}
<div class="col-xs-12 col-md-6 mb-3">
    <a class="" data-toggle="modal" data-target="#Modal{{ product.id}}">
        <div class="carte all {{ product.category}}">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-card-text">
                        <h5>{{ product.name }} </h5>
                        <p> {{ product.description|truncatewords:6 }}</p>
                        <span>{{ product.price|floatformat }}€</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<!-- Modal -->
<div class="modal fade modal-bg-white" id="Modal{{ product.id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content no-border">
            <div class="text-center modal-titre">
                <h5 class="modal-title " id="exampleModalLabel">{{ product.name|upper}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body product-card-text-modal">
                {% if product.image %}
                <div class="product-card-image-modal" style="background-image: url('{{ product.image.url }}');">
                </div>
                {% endif %}
                <div class="product-card-info-modal">
                    <h4>Descriptif : </h4>
                    <h6>{{ product.description|safe }}</h6>
                    {% if product.allergene is not None %}
                    <p>Allergène : {{ product.allergene }} {% if product.allergene2 %} {{ product.allergene2 }}
                        {% endif %} {% if product.allergene3 %} {{ product.allergene3 }} {% endif %}</p>
                    {% else %}
                    <p>Ce produit ne contient pas d'allergène alimentaire.</p>
                    {% endif %}


                    {% if product.info %}
                    <div class="info-boisson">

                        <p>
                            Sauf à ce que vous fassiez l'acquistion d'un de nos thermos, nous ne sommes pas en mesure de
                            vous fournir du café chaud.
                        </p>
                    </div>
                    {% endif %}





                </div>
                <form method="POST" action="{{ product.get_add_to_cart_url }}" id='{{ product.slug}}'>
                    {% csrf_token %}
                    <p> {{ form.quantity.label_tag}} </p>
                    {{ form.quantity }}

                    {% if product.variation_set.all %}
                    <hr>
                    {% if product.variation_set.sandwichs %}
                    <p>Choisissez votre sandwich:</p>
                    {% for item in product.variation_set.sandwichs %}
                    <div class="option-delivery">
                        <label class="" for="{{ item.title }}">
                            <input id="{{ item.title }}" name="sandwich" value="{{ item.title }}" type="radio" class=""
                                required>
                            <span>{{ item.title }}</span>

                        </label>
                    </div>
                    {% endfor %}

                    <hr>
                    {% endif %}

                    {% if product.variation_set.boissons %}
                    <p>Choisissez votre boisson:</p>
                    {% for item in product.variation_set.boissons %}
                    <div class="option-delivery">
                        <label class="" for="{{ item.title }}">
                            <input id="{{ item.title }}" name="boisson" value="{{ item.title }}" type="radio" class=""
                                required>
                            <span>{{ item.title }}</span>

                        </label>
                    </div>
                    {% endfor %}

                    <hr>
                    {% endif %}

                    {% if product.variation_set.desserts %}
                    <p>Choisissez votre dessert:</p>
                    {% for item in product.variation_set.desserts %}
                    <div class="option-delivery">
                        <label class="" for="{{ item.title }}">
                            <input id="{{ item.title }}" name="dessert" value="{{ item.title }}" type="radio" class=""
                                required>
                            <span>{{ item.title }}</span>

                        </label>
                    </div>
                    {% endfor %}



                    {% endif %}
                    {% endif %}


                    {% if product.alcool%}

                    {% if product.variation_set.alcool %}
                    <p>{{ form.alcool.label_tag }}</p>
                    {% for item in product.variation_set.alcool %}
                    <div class="option-delivery">
                        <label class="" for="{{ item.title }}-{{product.id}}">
                            <input id="{{ item.title }}-{{product.id}}" name="alcool" value="{{ item.title }}"
                                type="radio" class="" required>
                            <span>{{ item.title }}</span>

                        </label>
                    </div>
                    {% endfor %}


                    <hr>
                    {% endif %}
                    <div class="info-boisson">
                        <img src="{% static '../static/images/tirebouchon.svg' %}" alt="" height=30>
                        <p>
                            Vous pouvez aussi acheter un tire bouchon dans la catégorie accessoire.
                        </p>
                    </div>

                    <div class="info-boisson">
                        <img src="{% static '../static/images/under.svg' %}" alt="" height=30>
                        <p>
                            Pour commander vous devez avoir l’âge légal autorisé pour acheter ou consommer de
                            l’alcool. L’abus
                            d’alcool est dangereux pour la santé, à consommer avec modération.
                        </p>
                    </div>
                    {% endif %}

            </div>
            <div class="modal-footer modal-btn">
                <a class='btn-annuler' data-dismiss="modal">
                    Retour

                </a>
                {% if request.user.is_authenticated %}
                <input type="submit" value='Ajouter au panier' class='btn-valider'>
                {% else %}
                <a class=' btn-valider' href="{% url 'account_login' %} ">Connexion</a>
                {% endif %}
            </div>
            </form>
        </div>
    </div>
</div>