{% extends "base.html" %}
{% block head_title %}Historique des commandes{% endblock head_title %}
{% load static %}
{% block content %}

<div class="container">
    <div class="header-section-title-container">
        <div class="header-section-title">
            <h1>Tableau de bord</h1>
            <p>Informations personnelles</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 section-order-profil">

            <h4>Historique des commandes</h4>
            <div class="row">
                {% for o in order  %}
                <div class="col-xs-12 col-md-6">
                    <div class="order-card">
                        <p>Type de commande: {{ o.type_of_order }}</p>
                        <p>Date de la commande: {{ o.date_de_creation|date:"d/m/Y H:i" }}</p>
                        <p>Référénce de la commande : {{ o.ref_code }} </p>
                        <p>Commande:</p>
                        <ul>
                            {% for order_item in o.products.all  %}
                            <li> {{ order_item }}</li>
                            {% endfor %}
                        </ul>
                        <p class="total-profil">Total: {{ o.payment.amount|floatformat }}€ </p>
                        <small><a href="{% url 'request-refund' %} ">Demande de remboursement</a></small><br>
                        <small><a href="{% url 'contact' %} ">Une question ? </a></small>

                    </div>
                </div>
                <hr>
                {% empty%}
                <div class="col-xs-12 col-md-6 offset-md-3 text-center">
                    <h1 style="color: #4A898B; font-size: 20px;">Vous n'avez pas encore de commande ! </h1>

                </div>
                {% endfor %}

            </div>

        </div>
    </div>



</div>
{% endblock content %}